*{
	font-family: Trebuchet MS;	
}

body, ul, li{
	margin: 0;
	padding: 0;
}

p, li, h1, h2, h3, h4{
	
	color: #4e4e4e;

}

body{
	background: #f7f7f7;
}

.wrapper{
	width: 96%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 2%;
}

header{
	background: #e5e5e5;
	padding: 20px 0;
}

header h1{
	margin: 0;
	text-indent: -10000px;
	background: url(images/logo.png) no-repeat;
	width: 130px;
	float: left;
}

header nav{
	float: right;
}

header:after{
	dispay: block;
	content: "";
	clear: both;
}